body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Regular.woff") format("woff");

    font-family: "Gilroy-medium";
    src: url("Gilroy-Medium.woff") format("woff");
}

body {
    font-family: 'Gilroy';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
    overflow: hidden;
}

.welcome-page,
.birthday-page,
.gift-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f4f4f4;
}

.welcome-page h1 {
    font-family: 'Gilroy-medium';
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 7px;
    letter-spacing: 2px;
}

.welcome-page p {
    font-family: 'Gilroy-medium';
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.hidden {
    display: none;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.8s forwards;
}

.fade-out {
    animation: fadeOut 0.8s forwards;
}

.button {
    margin-top: 50px;
    padding: 13px 70px;
    background: #262626;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #1a1a1a;
}

.outer-circle {
    position: relative;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background: conic-gradient(#eaeaea 0%, #eaeaea 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.middle-circle {
    position: relative;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-container {
    position: relative;
    width: 250px;
    height: 250px;
    background: #262626;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.circle-text {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 0.8px;
}

.confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #e57373;
    opacity: 0.8;
    animation: confetti-fall 3s linear infinite;
    transform-origin: center;
}

.confetti:nth-child(odd) {
    background-color: #4caf50;
}

.confetti:nth-child(even) {
    background-color: #4a90e2;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-50px) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

.birthdayCard {
    position: relative;
    width: 350px;
    height:450px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
}
  
.birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
}
  
.birthdayCard:hover .cardFront {
    transform: rotateY(-160deg); 
}
  
.birthdayCard:hover .front-text {
    display: none;
}
  
.birthdayCard:hover .wrap-deco {
    display: none;
}
  
.birthdayCard:hover .wrap-decoTwo {
    display: none;
}
  
.birthdayCard:hover .plate {
    display: none;
}

.cardFront {
    position: relative;
    background-color: #fff;
    width: 350px;
    height:450px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .4s;
}

.happy, .toyou {
    position: relative;
    font-family: didot;
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px; 
}

.happy {
    top:235px;
}

.toyou {
    top:160px;
}

.bday {
    position: relative;
    font-family: arial;
    font-size: 35px;
    text-align: center;
    top:200px;
}

.wrap-deco {
    position: absolute;
    top:-230px;
    left:-190px;
}

.wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top:-230px;
    left:530px; 
}

.decorations {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
}

.decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width:0;
    height:0;
}

.decorations:before {
    border-top: 40px solid #f15bb5;
    top:297px;
    left:210px;
    transform: rotate(-5deg);
}

.decorations:after{
    border-top: 40px solid #f4d35e;
    top:288px;
    left:260px;
    transform: rotate(-17deg);
}

.decorationsTwo:before {
    border-top: 40px solid #00f5d4;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
}

.decorationsTwo:after, .decorationsThree:after {
    border-top: 40px solid #9b5de5;
    top:238px;
    left:355px;
    transform: rotate(-40deg);
}

.decorationsThree:before {
    border-top: 40px solid #00bbf9;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
}

.plate {
    position: absolute;
    width: 155px;
    height: 7px;
    background-color: #00bbf9;
    left: 95px;
    top: 213px;
}

.bdaycake {
    position: absolute;
    overflow: hidden;
    width: 107px;
    height: 50px;
    background-color: #f15bb5;
    border-radius: 10px 10px 0 0;
    top:-50px;
    left: 25px;
    box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
}

.cake:before {
    content:"";
    position: absolute;
    background-color: #432818;
    width: 10px;
    height: 20px;
    top: 5px;
    border-radius: 20px;
    box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5, 40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5, 80px 5px #432818, 90px 5px #f15bb5;
}

.plate:before {
    content: "";
    position: absolute;
    background: repeating-linear-gradient(-45deg, #9b5de5, #9b5de5 3px, #00f5d4 3px, #00f5d4 6px);
    width: 7px;
    height: 25px;
    top: -75px;
    left: 74.5px;
}

.plate:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 5px;
    background-color: #333;
    top: -80px;
    left: 77px;
}

.fire {
    position: relative;
    background-color: #fb5607;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(-45deg);
    width: 15px;
    height: 15px;
    opacity: 0.7;
    top: -93px;
    left: 70px;
}

.cardInside {
    position: absolute;
    background-color: #fff;
    width: 350px;
    height:450px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

.wishes {
    position: relative;
    top:-7px;
    margin: 25px;
}

.wishes p {
    font-family: 'Gilroy';
    color: #333;
    font-size: 10px;
}

.name {
    align-content: right;
    margin-right: 7px;
}
